/* CSS Document */

/*
*
*
[Table of contents]
*
*
*

    font-black / @import url
	reset / html
	general / body
	space / .space-single
	button-black / button
	devider / .devider
	section / section
	no select / .noselect
	wrapper / .content-wrapper
	whitepage / .whitepage
	preloader / .preloader
	navigation / .navbar-default
	subheader / #subheader
	home / #home
	background-img-black / .mainbg
	yellow-black / .yellow-home
	about / #service-about
	service / .servicebg
	projects / #projects-wrap
	team / #team
	contact / .contactbg
	subscribe / #subwrap
	address / .wrapaddres
	footer / .footer
	social-icons / .social-icons
	totop / #totop
	Blog & article / #content
	Blog comment / #blog-comment
	owl slider home / #owl-slider-home
	general popup / .white-popup-block

*
*
*/

/* font-black */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,700');

/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, button, output, ruby, section, summary, time, mark, audio, video {
font-family: 'Open Sans', sans-serif;
margin: 0;
padding: 0;
border: 0;
font: inherit;
text-decoration:none;
list-style: none;
}

/** general **/
body {
font-family: 'Open Sans', sans-serif;
font-size: 13px;
line-height: 1.8em;
font-style: normal;
font-weight: normal;
text-align: left;
overflow-x:hidden;
color:#606060;
background:#fff;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
-webkit-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}


h1{ font-size:30pt; font-weight:700; line-height:normal; text-transform:uppercase;}
h2{ font-size:22pt; font-weight:400; line-height:normal; }
h3{ font-size:20pt; font-weight:300; line-height:normal; }
h4{ font-size:18pt; font-weight:600; }
h5{ font-size:14pt; font-weight:600; }
h6{ font-size:12pt; font-weight:600; }
p{ font-size:13px;}

a, a:visited, a:hover, a:active , a:link{
color: inherit;
text-decoration:none;
outline: 0;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}

.link-class {
    display: block;
	text-decoration:none;
}

/* space */
    .space-single{
	width:100%;
	height:30px;
	display:block;
	clear:both;
	}

	.space-double{
	width:100%;
	height:60px;
	display:block;
	clear:both;
	}

	.space-half{
	width:100%;
	height:15px;
	display:block;
	clear:both;
	}

	hr {
	display: block;
	clear: both;
	border-top: solid 1px #ddd;
	margin: 40px 0 40px 0;
	}

.center{ text-align:center; margin:0 auto; }
.left{ text-align:left; float:left; line-height:inherit; }
.right{ text-align:right; float:right; line-height:inherit; }
.color{ color:#19283d;}

.min-left{margin-left:-15px;}
.min-right{margin-right:-15px;}

/* button-black */
button{
border: 1px solid #dadada;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}
button:hover{
border: none;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}
.btn-home {
display: inline-block;
width: 198px;
height: 40px;
font-size:10pt;
font-weight:600;
letter-spacing:1pt;
font-style:normal;
text-align:center;
line-height:38px;
color:#cfcfcf;
border: 1px solid #dadada;
background:rgba(23,36,52,0);
outline: none;
text-shadow:none;
margin: 5px auto;
margin-left:0px;
padding: 0;
cursor:pointer;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.1s ease;
-o-transition: all 0.1s ease;
transition: all 0.1s ease;
}

.btn-content{
display:block;
width: 198px;
height: 40px;
font-size:10pt;
text-align:center;
line-height:38px;
color:#cfcfcf;
border: 1px solid #dadada;
background:rgba(23,36,52,0);
outline: none;
text-shadow:none;
margin: 0 auto;
margin-top:20px;
cursor:pointer;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.1s ease;
-o-transition: all 0.1s ease;
transition: all 0.1s ease;
}
.btn-home:hover, .btn-content:hover{
color:#fff;
border: 1px solid rgba(255,255,255,1);
-moz-transition: all 0.3s ease;
-ms-transition: all 0.1s ease;
-o-transition: all 0.1s ease;
transition: all 0.1s ease;}

.btn-home-active{
border: none;
background:#19283d;
display: inline-block;
width: 198px;
height: 40px;
margin:0 auto;
font-size:10pt;
letter-spacing:1pt;
font-style:normal;
text-align:center;
line-height:49px;
color:#efefef;

outline: none;
text-shadow:none;
margin: 20px 0 0 0;
padding: 0;
cursor:pointer;}
.btn-home-active:hover{
color:#efefef;
background:rgba(23,36,52,0.8);
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;}

/* devider */
.devider-left {display:block; border-top: 7px solid #e1e1e1; width:79px; margin-top:20px; margin-bottom:20px; text-align:left;}
.devider-cont {display:block; border-top: 7px solid #e1e1e1; width:287px; margin-top:30px; margin-bottom:30px; text-align:left;}
.devider-serv {display:block; border-top: 7px solid #e1e1e1; width:67px; margin-top:10px; margin-bottom:10px; text-align:left;}
.devider-widget {display:block; border-bottom: 2px solid #e1e1e1; margin-bottom:30px; width:60px; text-align:left;}
.devider-right {display:block; border-right: 1px solid rgba(255,255,255,0.5); height:70px; margin:0 auto; margin-left:100px;}

/* section */
section{padding:150px 0 160px 0;}
.no-bottom {padding-bottom: 0 !important;}
.no-top {padding-top: 0 !important;}
.no-padding,section.no-padding{
padding:0;
}
sectionPost{padding:30px 0 160px 0;}
.no-bottom {padding-bottom: 0 !important;}
.no-top {padding-top: 0 !important;}
.no-padding,section.no-padding{
padding:0;
}
/* no select */
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* wrapper */
.content-wrapper{ overflow-x:hidden; }

.v-align {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

/* whitepage */
.whitepage{
  width: 100%;
  height:auto;
  color:#606060;
  background:#fff;
}
.whitepage h1, .whitepage h2, .whitepage h3, .whitepage h4, .whitepage h5, .whitepage h6{ color:#aa0000; }
.whitepage h1{ font-weight:600; letter-spacing:2px;}
.whitepage em{ display:block; font-style:italic; margin-bottom:20px;}
.whitepage article{ padding:0 0 0 0;}

/* preloader */
.preloader
    {
        position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 99999;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-flex-flow: row nowrap;
              -ms-flex-flow: row nowrap;
                  flex-flow: row nowrap;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          background:#0c131c;
    }
.mainpreloader {
	position:relative;
	width:auto;
	height:auto;
}

.mainpreloader img{ display:block; margin:0 auto; z-index:999;}
.mainpreloader span{ display:block; font-size:8pt; text-transform:uppercase; letter-spacing:2px; text-align:center; margin:10px auto;}
.bg-preloader{ position:fixed; width:100%; height:100%; top:0px; left:0px; background:#0c131c; z-index:999;}

.logo-preloader{
	-webkit-animation: fadeimg 1s infinite linear;
	animation: fadeimg 1s infinite linear;
	}
@-webkit-keyframes fadeimg{
	0% {opacity:1;}
	50% {opacity:0;}
	100% {opacity:1;}
	}
@keyframes fadeimg{
	0% {opacity:1;}
	50% {opacity:0;}
	100% {opacity:1;}
	}
/* end preloader */

/* navigation */
.navbar-default {
		 background:rgba(23,36,52,0);
		 margin             : 3% 5% 3% 5%;
		 border-bottom:1px groove transparent;
         -webkit-transition : all .3s ease-in-out;
         -moz-transition    : all .3s ease-in-out;
         transition         : all .3s ease-in-out;
        }

.sticky-nav.navbar-default {
	background:#aa0000;
	margin:0;
	border-bottom:1px groove rgba(255,255,255,0);
  height: 130px;
	}

.sticky-nav.navbar-default img{
	width:90%;
	height:auto;
	-webkit-transition : all .3s ease-in-out;
	-moz-transition    : all .3s ease-in-out;
	transition         : all .3s ease-in-out;
}

.navbar-default {
    margin-bottom : 0;
	height:80px;
    }
	.navbar-default.fullHeight{height:100%!important;}

.navbar-brand {position:fixed; left:30px; margin-top:8px; z-index:2; }
.navbar-brand img{
	      width:70%;
		  height:auto;
          -webkit-transition : all .3s ease-in-out;
          -moz-transition    : all .3s ease-in-out;
          transition         : all .3s ease-in-out;
		 }

.scroll-link{cursor:pointer;}

/* menu nav */
nav {
	margin:0 auto;
	position:fixed;
	right:30px;
	top:0px;
	z-index:999;
}

nav ul {
	padding: 0;
    margin: 0;
	list-style: none;
	position: relative;
	}

nav ul li {
	display:inline-block;
	margin-right:5px;
	color:#efefef;
	}
nav ul li:last-child {
	margin-right:-35px;
	}

nav a {
display: block; padding: 10px; color: #efefef; font-size: 13pt; font-weight: 600; text-transform: uppercase; letter-spacing: 2px; line-height: 62px; text-decoration: none; position: relative; top: 20px;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 32px;
    height: 6px;
    border-radius: 1px;
}
nav a:hover {
	color:#c3c3c3;
}

nav a.active{color:#19283d;}

nav ul ul {
    display:none;
	position: absolute;
	top: 65px;
	color:#efefef;
}

nav ul li:hover > ul {
	display:inherit;
	-webkit-animation-name: animfadeInUpmenu;
    animation-name: animfadeInUpmenu;
   -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

nav ul ul li {
	width:200px;
	float:none;
	display:list-item;
	background:rgba(23,36,52,1);
	border-bottom:1px solid #1d2d40;
	position: relative;
	box-shadow: 1px 2px 3px rgba(0, 0, 0, .3);
}
nav ul ul li a{ line-height:30px;}
nav ul ul li:last-child {border-bottom:none;}

nav ul ul ul li {
	position: relative;
	top:-60px;
	left:200px;
}

li > a:after { content:  ''; margin-left:20px; }
li > a:only-child:after { content: ''; }
/*end menu nav*/

/* subheader */
	#subheader{
	padding-bottom:70px;
	background:#222;
	background:url(../img/bg-subheader.jpg)top fixed;
	}
  	#subheaderPost{
	padding-bottom:180px;
	background:#222;
	background:url(../img/bg-subheader.jpg)top fixed;
	}
	#subheader h1 {
	color:#eceff3;
	margin-top:120px;
	font-size: 32px;
	letter-spacing: 5px;
	float: left;
	padding-right: 40px;
	margin-right: 40px;
	text-transform:uppercase;
	}
	#subheader span {
	letter-spacing:2px;
	display: inline-block;
	font-size: 15px;
	margin-top:88px;
	color:#fff;
	}
	#subheader .subdetail{
	float: right;
	font-size:11px;
	letter-spacing:2px;
	margin-top: 90px;
	text-transform:uppercase;
	color:#777;
	}
	#subheader .subdetail li { display:inline-block; color:#fff;}
	#subheader .subdetail li a{ color:#999;}
	#subheader .subdetail li.sep{ margin-right:20px;}
/* subheader end */


/* home */
#home{ color:#fff;}
#home h1{ font-size:36pt; letter-spacing:1px;}
#home h3{ font-size:26pt; letter-spacing:1px;}
.overlay-main{
  position:absolute;
  width: 100%;
  height:100%;
  top:0px;
  left:0px;
}

/* background-img-black */
.mainbg {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  overflow-x:hidden;
  background:url(../img/bg-1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

.mainbgvideo {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height:100%;
  overflow-x:hidden;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

.bgslider {
  position:relative;
  width: 100%;
  height:auto;
  color:#fff;
  background:#172434;
  margin-bottom:-30px;
}

.bgslider img {
  width:auto;
  min-height:600px;
  max-height:600px;
  top: 0;
  left: 0;
}

/* background video  */

.bgvideo{
  position:absolute;
  width: 100%;
  height:100%;
  top:-50px;
  left:0;
  background:#efefef;
}

.video {
  position:relative;
  top: 50%;
  left: 50%;
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index:0;
  opacity:0.8;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}


/* yellow-black */
.yellow-home{
  position:absolute;
  width: 100%;
  height:auto;
  padding:20px 0 20px 0;
  background:#19283d;
  color:#fff;
  bottom:0px;
  left:0px;
  text-align:center;
}

.blue-page{
  position:relative;
  width: 100%;
  height:auto;
  padding:50px 0 50px 0;
  overflow-x:hidden;
  background:url(../img/blue-bg.jpg)top fixed;
  color:#fff;
 -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}
/* home end */

/* about */
#service-about{
width:100%;
max-width:1200px;
margin:0 auto;
text-align:center;
}

.service-about {
  position: relative;
  display:inline-block;
  font-size: 9pt;
  font-weight:400;
  letter-spacing:1pt;
  text-transform:uppercase;
  width: 325px;
  height: 280px;
  margin:0 10px auto;
}

.service-about h2{
	font-size:12pt;
	font-weight:600;
	letter-spacing:normal;
	margin-top:20px;
	}

.service-about img {
  width: 100%;
  vertical-align: top;
}

.service-about .hovereffect {
  width: 100%;
  height:auto;
  float: left;
  position: relative;
  text-align: center;
  cursor:pointer;
}

.service-about .hovereffect .overlay {
  width: 100%;
  height: 2%;
  position: absolute;
  bottom: 40px;
  left: 0;
  background-color: rgba(255,204,0,0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.service-about .hovereffect:hover .overlay {
background-color: rgba(255,204,0,1);
}
/* about end */


/* service */
.filter-wraper { position:relative; margin:0 auto;  }
#filters li.filt-serv{
    font-size:10pt;
    font-weight:300;
	color:#172434;
	letter-spacing:1px;
	text-transform:uppercase;
    cursor: pointer;
    display: inline-block;
	list-style: none;
    -webkit-transition : all .3s ease-in-out;
    -moz-transition    : all .3s ease-in-out;
    transition         : all .3s ease-in-out;
}
#filters li.space{ font-size:11pt; display: inline-block; margin: 0 10px 0 10px;}
#filters li.filt-serv:hover{
	color:#c3c3c3;
	  -webkit-transition : all .3s ease-in-out;
      -moz-transition    : all .3s ease-in-out;
      transition         : all .3s ease-in-out;
	}

#filters li.selected{
	color:#c3c3c3;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.2s ease;
}
.service img{ margin-bottom:20px;}
.service h4{ font-size:12pt; font-weight:300; letter-spacing:1px; text-transform:uppercase;}

/* Owl brand */
#owl-brand .item{
        margin:0 auto;
        text-align: center;
    }
/* service end */


/* projects */
.no-gutter {
  margin-left: 0;
  margin-right: 0;
  margin-top:0;
  margin-bottom:0;
}

.no-gutter [class*='col-']:not(:first-child),
.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
  padding-top:0;
  padding-bottom:0;
}
#projects-wrap{
text-align:center;
overflow:hidden;
}

.projects {
  position: relative;
  letter-spacing:1pt;
  text-transform:uppercase;
  overflow:hidden;
  border:8px solid rgba(0,0,0,0);
}

.projects:hover img {
  width: 100%;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.projects img {
  width: 100%;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.projects .hovereffect {
  width: 100%;
  height:auto;
  float: left;
  position: relative;
  text-align: center;
  cursor:pointer;
}

.projects .hovereffect .overlay {
  width: 100%;
  height: 120%;
  position: absolute;
  top: -30px;
  left: 0;
  opacity:0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.projects .hovereffect:hover .overlay {
height: 100%;
top: 0;
opacity:1;
top: 0;
}

.projects .hovereffect .overlay h3{ font-size:9pt; font-weight:600; color:#172434; padding-top:30%; height:100%; background-color: rgba(255,255,255,.8); }

/* filter controls */
#filter-porto{
padding:60px 0 60px 0;
margin:0 auto;
}

#filter-porto li.filt-projects{
   font-size:10pt;
    font-weight:300;
	color:#172434;
	letter-spacing:1px;
	text-transform:uppercase;
    cursor: pointer;
    display: inline-block;
	list-style: none;
    -webkit-transition : all .3s ease-in-out;
    -moz-transition    : all .3s ease-in-out;
    transition         : all .3s ease-in-out;
}
#filter-porto li.space{ font-size:11pt; display: inline-block; margin: 0 10px 0 10px;}
#filter-porto li.filt-projects:hover{
	  color:#c3c3c3;
	  -webkit-transition : all .3s ease-in-out;
      -moz-transition    : all .3s ease-in-out;
      transition         : all .3s ease-in-out;
	}

#filter-porto li.actived{
	color:#c3c3c3;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.2s ease;
}
/* projects end */

/* team */
#team{
	margin:0 auto;
	text-align:center;
	}
.team-wrapper{
	    max-width:350px;
		width:100%;
		margin-bottom:20px;
		display:inline-block;
		-webkit-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;
	}
.team-wrapper img{
   overflow: hidden;
   margin-left:0px;
   opacity: 1;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  }
.team-wrapper img:hover{
		cursor: pointer;
		opacity: 0.8;
		-webkit-transition: opacity 0.3s linear;
        transition: opacity 0.3s linear;
	}
.team-des{
	padding:15px 0 15px 0;
	background:#fff;
	border-bottom:1px solid #19283d;
	}
	.team-des h3{ font-size:13pt; font-weight:600;}
.team-des span{
		display: block;
		font-weight:300;
		font-size:10pt;
		margin: 0 0 10px 0;
	}
.team-des .fa {
  width: 25px;
  height: 25px;
  font-size:11pt;
}
.team-des .fa:hover{
	    cursor: pointer;
		color:#19283d;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
		}
/* team end */

/* contact */
.contactbg{
  width: 100%;
  height:auto;
  background:#fff;
	}


#map{width:100%; height:400px; padding-top:0px; padding-bottom:0px;}

#contact {
  text-align:left;
  width:100%;
  height:auto;
  margin:0 auto;
  padding:20px 20px 0 15px;
}
#form-contact button.btn{
color:#fff;
margin-top:5px;
padding:10px 20px 10px 20px;
border:1px solid rgba(255,255,255, 0); background:#aa0000;
}

#form-contact button.btn:hover{
color:#fff;
border:1px solid rgba(255,255,255, 0.1);
background:#aa0000;
}

input[type="text"]{
  text-align: left;
  width: 220px;
  height: 50px;
  margin: 5px 0px 5px 0px;
  border: 0px;
  font-size: 9pt;
  font-weight:300;
  letter-spacing: 0px;
  color:#333;
  background: rgba(0, 0, 0, 0);
  border:1px solid rgba(0,0,0,0.3);
  padding:10px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -moz-transition: none;
  -webkit-transition: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.2s ease;
}

input#name, input#email{width: 333px;}

input#name-contact, input#email-contact, textarea#message-contact{width: 100%;}

textarea {
  text-align: left;
  outline:none;
  width: 670px;
  height:100px;
  margin: 5px 0px 5px 0px;
  font-size: 9pt;
  border: 0px;
  font-weight:300;
  letter-spacing: 0px;
  color:#333;
  background: rgba(0, 0, 0, 0);
  border:1px solid rgba(0,0,0,0.3);
  padding:10px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -moz-transition: none;
  -webkit-transition: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.2s ease;
}

input[type="text"]:focus, input[type="text"].focus, textarea:focus, textarea.focus, input[type="email"]:focus, input[type="email"].focus, email:focus, email.focus {
  border:1px solid rgba(0,0,0,0.8);
}

::-webkit-input-placeholder {
  opacity: 1;
  color:#333;
}

::-moz-placeholder {
  opacity: 1;
  color:#333;
} /* firefox 19+ */
:-ms-input-placeholder {
  opacity: 1;
  color:#333;
} /* ie */
input:-moz-placeholder {
  opacity: 1;
  color:#333;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

textarea:focus::-webkit-textarea-placeholder {
  color: transparent;
}

textarea:focus:-moz-placeholder {
  color: transparent;
}

textarea:focus::-moz-placeholder {
  color: transparent;
}

textarea:focus:-ms-input-placeholder {
  color: transparent;
}

.error {
  width: 100%;
  display: none;
  padding: 2px 10px 2px 10px;
  font-size: 11px;
  margin: 10px auto;
}
.success {
  width: 100%;
  display:none;
  padding: 5px 0px 2px 0px;
  font-size: 11px;
  margin: 10px auto;
}
/* contact end */

/* subscribe */
#subwrap {
margin: 0 auto;
text-align:center;
color:#fff;
background:url(../img/bg-service.jpg)top fixed;
-webkit-border-radius:20px;
-moz-border-radius:20px;
border-radius:20px;
box-shadow: 5px 5px 2px rgba(23,36,52,0.5);
}

#subscribe .mail {
display: none;
visibility: hidden;
}

#subscribe input#subscribeemail {
font-size: 10pt;
line-height: 1.5;
font-style: normal;
font-weight: normal;
text-align: center;
color:#fff;
width: 300px;
height: 40px;
margin: 0 20px 0 0 ;
padding: 10px;
background:rgba(23,36,52,0.6);
border: none;
}
#subscribe input#subscribeemail[type="text"]:focus, #subscribe input#subscribeemail[type="text"].focus{
  border: 1px solid #efefef;

}

.subscribesuccess {
display:none;
width: 375px;
font-size: 10px;
line-height: 2;
font-style: normal;
text-transform: uppercase;
text-align: center;
font-weight: 400;
letter-spacing: normal;
color:#fff;
margin: 0 auto;
padding:0;
letter-spacing: 1px;
}

#subscribe .subscribeerror {
width: 375px;
font-size: 10px;
line-height: 2;
font-style: normal;
text-transform: uppercase;
text-align: center;
color:#fff;
display: block;
margin: 0 auto;
padding: 0;
letter-spacing: 1px;
}
.btn-form {
display: inline-block;
width: 198px;
height: 40px;
font-size:9pt;
letter-spacing:1pt;
text-transform:uppercase;
font-style:normal;
text-align:center;
line-height:50px;
color:#fff;
background:#19283d;
border: none;
outline: none;
text-shadow:none;
margin: 10px auto;
padding: 0;
cursor:pointer;
}
.btn-form:hover{
border: none;
background:#111;
color:#efefef;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;}
/* subscribe end */


/* address */
    .wrapaddres{
	margin:0;
	text-align:left;
	padding:20px;
	}


	.wrapaddres h5{ margin-top:10px; margin-bottom:15px;}

	address span {
	display: block;
	border-bottom:solid 1px rgba(255,255,255,0);
	padding-bottom:5px;
	margin-bottom:5px;
	font-weight:300;
	}

	address span strong {
    font-weight:600;
    }

	address span a{
	color:#eceff3;
	}
/** address end **/


/* footer */
.footer{
	height:auto;
	padding:25px 0 15px 0;
	background:#aa0000;
	color:#efefef;
	}

/* social-icons */
	.social-icons{
	display:block;
	}
	.social-icons span{
	text-shadow:none;
	color: #fff;
	padding: 8px;
	width: 28px;
	height: 28px;
	text-align: center;
	font-size:16px;
	border-radius:1px;
	-moz-border-radius:1px;
	-webkit-border-radius:1px;
	-webkit-transition : all .3s ease-in-out;
	-moz-transition    : all .3s ease-in-out;
	transition         : all .3s ease-in-out;
	}
	.social-icons span:hover{
	background:#000;
	border-color:#eceff3;
	-webkit-transition : all .3s ease-in-out;
	-moz-transition    : all .3s ease-in-out;
	transition         : all .3s ease-in-out;
	}
/* footer end */

/* totop */
#totop{
display:none;
width:30px;
height:30px;
background:#000;
line-height:30px;
position:fixed;
bottom:10px;
right:10px;
text-align:center;
cursor:pointer;
-webkit-border-radius: 5%;
-moz-border-radius: 5%;
-ms-border-radius: 5%;
-o-border-radius: 5%;
border-radius: 5%;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}

#totop:hover{
background:#c3c3c3;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}

#totop span{font-size:10pt; font-weight:600; color:#fff; }
/* totop end */


/* Blog & article */
#content{ text-align:left;}

article{
	margin-bottom:40px;
}

article .post-heading h3 {
	margin:20px 0 -10px 0;
	font-size:16pt;
	font-weight:600;
	color:606060;
}

article .post-heading h3 a:hover {
	text-decoration:none;
}

/* post meta */
.post-meta {
	background:#fcfcfc;
	border-top:none;
	text-align:center;
}

.post-meta .format {
	border-bottom:1px solid #dadada;
	padding:10px 0 10px;
}

.post-meta i{
	margin:0;
}

.post-meta .date {
	border-bottom:1px solid #e6e6e6;
	padding:10px 0 10px;
}

.post-meta .date span {
	text-align:center;
	color:#efefef;
	font-size:12px;
	font-weight:600;
}

.post-meta .comments {
	padding:10px 0 10px;
}

.post-meta .comments a {
	color:#efefef;
	font-size:12px;
	font-weight:700;
}

.post-meta .comments a:hover {
	text-decoration:none;
}

/* post format */
.post-image {
	margin-bottom:20px;
}

ul.meta-post{
	float:left;
	margin: 0;
	padding:0;
	list-style:none;
}

ul.meta-post li{
	float:left;
	margin:0 10px 0 0;
	padding:0;
	list-style:none;
}

ul.meta-post li a{
	float:left;
	font-size:12px;
	font-weight:600;
}

/* single post */
.bottom-article{
	overflow: hidden;
	border-top:1px dashed rgba(255,255,255, 0.2);
	padding:10px 0 10px 0;
	margin-top:10px;
}
.bottom-article a.btn{
padding:10px 20px 10px 20px;
border:1px solid rgba(23,36,52, 0.1);
}

.bottom-article a.btn:hover{ color:#fff; border:1px solid rgba(255,255,255, 0); background:#19283d;}


/* pagination */
#pagination a{ padding:5px 10px ;}

#pagination .pagina-num{ margin-right:15px;}

#pagination a:hover {
    color: #19283d;
	text-decoration:none;
}

#pagination a.current {
    background: #19283d;
    color: #fff;
    font-weight:600;
}

/*  Aside, sidebar */
aside{
	position:relative;
	margin-bottom:40px;
}

.sidebar-nav{
	float:left;
	width:100%;
}

.right-sidebar{
	margin:0 auto;
}


.left-sidebar{
	padding:0 30px 0 0;
}

.left-sidebar .widget h3, .left-sidebar .widget .widget-content{
	padding-right:20px;
}

aside .widget {
	margin-bottom:40px;
}

.widget .recent div {
	margin-bottom:20px;
	display:inline-block;
}

.widget .recent div img {
	float:left; padding-right:10px;
}

.widget .recent div h6{
	font-size:14px;
	font-weight:600;
}

.widget .tags {
	margin:0;
	margin-left: 0;
	padding-left:0;
}

.widget .tags div {
	margin:5px 5px 15px 0;
	display:inline-block;
}

.widget .tags div a {
	border:1px solid rgba(23,36,52, 0.2);
	padding:5px 10px;
	text-align:center;
}

.widget .tags div a:hover {
	text-decoration:none;
	color:#19283d;
	border:1px solid rgba(23,36,52, 0.6);
}
/* Blog & article end */

/* Blog comment */
#blog-comment{ margin:0; padding:0px;}
#blog-comment h5{ font-size:13pt; margin-bottom:10px;}
#blog-comment ul, #blog-comment li{list-style:none; padding-left:0;}
#blog-comment li{min-height:70px; padding-bottom:10px; margin-bottom:10px; padding-bottom:20px; border-bottom: solid 1px rgba(255,255,255, 0.1);}
#blog-comment li .avatar{position:absolute; margin-top:5px;}
#blog-comment .comment{ margin-left:85px; }
#blog-comment li{min-height:70px; font-size:14px; line-height:1.6em; }
#blog-comment li li{ margin-left:80px; padding-bottom:0px; margin-top:20px; border-top: solid 1px rgba(255,255,255, 0.1); padding-top:10px; border-bottom:none;}
#blog-comment li li .avatar{position:absolute; }
#blog-comment li li .comment{ }
.comment-info {margin-left:85px; margin-bottom:5px;}
.comment-info span{}
.comment-info .c-name{ display:block; font-weight:700;}
.comment-info .c-reply{  padding-left:10px; margin-left:10px; border-left:solid 1px rgba(255,255,255, 0.1);}
.comment-info .c-reply a{font-size:11pt;}
.comment-info .c-date{  font-size:10pt;}
.blog-list h3, .blog-read h3{
	color:#333;
}

/* comment form */
#comment-form-wrapper{ margin:50px 0 50px 0; padding:0px;}
#commentform input{width:100%; font-size:10pt; font-weight:400; padding:10px; height:40px; background:rgba(23,36,52,0.3); border:none; }
#commentform input:focus{background:rgba(23,36,52,0.4);}
#commentform textarea{width:100%; font-size:10pt; font-weight:400; padding:10px; height:150px; background:rgba(23,36,52,0.3); border:none;}
#commentform textarea:focus{background:rgba(23,36,52,0.4);}
#commentform button.btn{
padding:10px 20px 10px 20px;
border:1px solid rgba(23,36,52, 0.1);
background:rgba(23,36,52,0);
}
#commentform button.btn:hover{color:#fff; border:1px solid rgba(255,255,255, 0); background:#19283d;}
/* Blog comment end */



/*Core Owl Carousel CSS File v1.3.3*/
/* clearfix */
.owl-carousel .owl-wrapper:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}.owl-carousel,.owl-carousel .owl-wrapper{display:none;position:relative}.owl-carousel{width:100%;-ms-touch-action:pan-y}.owl-carousel .owl-wrapper-outer{overflow:hidden;position:relative;width:100%}.owl-carousel .owl-wrapper-outer.autoHeight{-webkit-transition:height .5s ease-in-out;-moz-transition:height .5s ease-in-out;-ms-transition:height .5s ease-in-out;-o-transition:height .5s ease-in-out;transition:height .5s ease-in-out}.owl-carousel .owl-item{float:left}.owl-controls .owl-buttons div,.owl-controls .owl-page{cursor:pointer}.owl-controls{-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-tap-highlight-color:transparent}.grabbing{cursor:url(grabbing.png) 8 8,move}.owl-carousel .owl-item,.owl-carousel .owl-wrapper{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0)}


/*
* 	Owl Carousel Owl Demo Theme
*	v1.3.3
*/
.owl-theme .owl-controls{margin-top:10px;text-align:center}.owl-theme .owl-controls .owl-buttons div{color:#efefef;display:inline-block;zoom:1;margin:5px;padding:3px 10px;font-size:12px;-webkit-border-radius:200px;-moz-border-radius:200px;border-radius:200px;background:#d8d8d8;filter:Alpha(Opacity=50);opacity:.5}.owl-theme .owl-controls.clickable .owl-buttons div:hover{filter:Alpha(Opacity=100);opacity:1;text-decoration:none}.owl-theme .owl-controls .owl-page{display:none;zoom:1}.owl-theme .owl-controls .owl-page span{display:block;width:8px;height:8px;margin:5px 7px;filter:Alpha(Opacity=50);opacity:.5;-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;background:#d8d8d8}.owl-theme .owl-controls .owl-page.active span,.owl-theme .owl-controls.clickable .owl-page:hover span{filter:Alpha(Opacity=100);opacity:1}.owl-theme .owl-controls .owl-page span.owl-numbers{height:auto;width:auto;color:#efefef;padding:2px 10px;font-size:12px;-webkit-border-radius:30px;-moz-border-radius:30px;border-radius:30px}.owl-item.loading{min-height:150px;background:url(AjaxLoader.gif) center center no-repeat}

/* owl slider home */
    #owl-slider-home .item{
    display: block;
    width: 100%;
    }
    #bar{
      width: 0%;
      max-width: 100%;
      height: 2px;
      background: #19283d;
    }
    #progressBar{
      width: 100%;
      background: #eee;
    }

/* button */
#owl-gal .item{
      display: block;
      padding: 15px 0px;
      margin: 0 auto;
      text-align: center;
    }
    .owl-theme .owl-controls .owl-buttons div {
      padding: 40px 44px;
	  background:rgba(23,36,52,0.5);
    }

    .owl-theme .owl-buttons i{
      margin-top: 2px;
	  font-size:40pt;
    }

    .owl-theme .owl-controls .owl-buttons div {
      position:absolute;
	  z-index:9;
    }

    .owl-theme .owl-controls .owl-buttons .owl-prev{
      left: -100px;
      	  top:40%;
	  padding-left:100px;
    }

    .owl-theme .owl-controls .owl-buttons .owl-next{
      right: -100px;
      	  top:40%;
	  padding-right:100px;
    }
	.owl-item {
-webkit-backface-visibility: hidden;
-webkit-transform: translateZ(0) scale(1.0, 1.0);
}



/* Magnific Popup CSS */
.mfp-bg,.mfp-wrap{position:fixed;left:0;top:0}.mfp-bg,.mfp-container,.mfp-wrap{height:100%;width:100%}.mfp-container:before,.mfp-figure:after{content:''}.mfp-bg{z-index:1042;overflow:hidden;background:#0b0b0b;opacity:.8;filter:alpha(opacity=80)}.mfp-wrap{z-index:1043;outline:0!important;-webkit-backface-visibility:hidden}.mfp-container{text-align:center;position:absolute;left:0;top:0;padding:0 8px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.mfp-container:before{display:inline-block;height:100%;vertical-align:middle}.mfp-align-top .mfp-container:before{display:none}.mfp-content{position:relative;display:inline-block;vertical-align:middle;margin:0 auto;text-align:left;z-index:1045}.mfp-ajax-holder .mfp-content,.mfp-inline-holder .mfp-content{width:100%;cursor:auto}.mfp-ajax-cur{cursor:progress}.mfp-zoom-out-cur,.mfp-zoom-out-cur .mfp-image-holder .mfp-close{cursor:-moz-zoom-out;cursor:-webkit-zoom-out;cursor:zoom-out}.mfp-zoom{cursor:pointer;cursor:-webkit-zoom-in;cursor:-moz-zoom-in;cursor:zoom-in}.mfp-auto-cursor .mfp-content{cursor:auto}.mfp-arrow,.mfp-close,.mfp-counter,.mfp-preloader{-webkit-user-select:none;-moz-user-select:none;user-select:none}.mfp-loading.mfp-figure{display:none}.mfp-hide{display:none!important}.mfp-preloader{color:#ccc;position:absolute;top:50%;width:auto;text-align:center;margin-top:-.8em;left:8px;right:8px;z-index:1044}.mfp-preloader a{color:#ccc}.mfp-close,.mfp-preloader a:hover{color:#efefef}.mfp-s-error .mfp-content,.mfp-s-ready .mfp-preloader{display:none}button.mfp-arrow,button.mfp-close{overflow:visible;cursor:pointer;background:0 0;border:0;-webkit-appearance:none;display:block;outline:0;padding:0;z-index:1046;-webkit-box-shadow:none;box-shadow:none}.mfp-figure:after,.mfp-iframe-scaler iframe{box-shadow:0 0 8px rgba(23,36,52,.6);position:absolute;left:0}button::-moz-focus-inner{padding:0;border:0}.mfp-close{width:44px;height:44px;line-height:44px;position:absolute;right:0;top:0;text-decoration:none;text-align:center;opacity:.65;padding:0 0 18px 10px;font-style:normal;font-size:38px;font-family:Arial,Baskerville,monospace;}.mfp-close:focus,.mfp-close:hover{opacity:1}.mfp-close:active{top:1px}.mfp-close-btn-in .mfp-close{color:#efefef}.mfp-iframe-holder .mfp-close,.mfp-image-holder .mfp-close{color:#efefef;right:-6px;text-align:right;padding-right:6px;width:100%}.mfp-counter{position:absolute;top:0;right:0;color:#efefef;font-size:12px;line-height:18px}.mfp-figure,img.mfp-img{line-height:0}.mfp-arrow{position:absolute;opacity:.65;margin:-55px 0 0;top:50%;padding:0;width:90px;height:110px;-webkit-tap-highlight-color:transparent}.mfp-arrow:active{margin-top:-54px}.mfp-arrow:focus,.mfp-arrow:hover{opacity:1}.mfp-arrow .mfp-a,.mfp-arrow .mfp-b,.mfp-arrow:after,.mfp-arrow:before{content:'';display:block;width:0;height:0;position:absolute;left:0;top:0;margin-top:35px;margin-left:35px;border:inset transparent}.mfp-arrow .mfp-a,.mfp-arrow:after{border-top-width:13px;border-bottom-width:13px;top:8px}.mfp-arrow .mfp-b,.mfp-arrow:before{border-top-width:21px;border-bottom-width:21px}.mfp-arrow-left{left:0}.mfp-arrow-left .mfp-a,.mfp-arrow-left:after{border-right:17px solid #efefef;margin-left:31px}.mfp-arrow-left .mfp-b,.mfp-arrow-left:before{margin-left:25px;border-right:27px solid #3f3f3f}.mfp-arrow-right{right:0}.mfp-arrow-right .mfp-a,.mfp-arrow-right:after{border-left:17px solid #efefef;margin-left:39px}.mfp-arrow-right .mfp-b,.mfp-arrow-right:before{border-left:27px solid #3f3f3f}.mfp-iframe-holder{padding-top:40px;padding-bottom:40px}.mfp-iframe-holder .mfp-content{line-height:0;width:100%;max-width:900px}.mfp-image-holder .mfp-content,img.mfp-img{max-width:100%}.mfp-iframe-holder .mfp-close{top:-40px}.mfp-iframe-scaler{width:100%;height:0;overflow:hidden;padding-top:56.25%}.mfp-iframe-scaler iframe{display:block;top:0;width:100%;height:100%;background:#efefef}.mfp-figure:after,img.mfp-img{width:auto;height:auto;display:block}img.mfp-img{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:40px 0;margin:0 auto}.mfp-figure:after{top:40px;bottom:40px;right:0;z-index:-1;background:#444}.mfp-figure small{color:#bdbdbd;display:block;font-size:12px;line-height:14px}.mfp-figure figure{margin:0}.mfp-bottom-bar{margin-top:-36px;position:absolute;top:100%;left:0;width:100%;cursor:auto}.mfp-title{text-align:left;line-height:18px;color:#f3f3f3;word-wrap:break-word;padding-right:36px}.mfp-gallery .mfp-image-holder .mfp-figure{cursor:pointer}@media screen and (max-width:800px) and (orientation:landscape),screen and (max-height:300px){.mfp-img-mobile .mfp-image-holder{padding-left:0;padding-right:0}.mfp-img-mobile img.mfp-img{padding:0}.mfp-img-mobile .mfp-figure:after{top:0;bottom:0}.mfp-img-mobile .mfp-figure small{display:inline;margin-left:5px}.mfp-img-mobile .mfp-bottom-bar{background:rgba(23,36,52,.6);bottom:0;margin:0;top:auto;padding:3px 5px;position:fixed;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.mfp-img-mobile .mfp-bottom-bar:empty{padding:0}.mfp-img-mobile .mfp-counter{right:5px;top:3px}.mfp-img-mobile .mfp-close{top:0;right:0;width:35px;height:35px;line-height:35px;background:rgba(23,36,52,.6);position:fixed;text-align:center;padding:0}}@media all and (max-width:900px){.mfp-arrow{-webkit-transform:scale(.75);transform:scale(.75)}.mfp-arrow-left{-webkit-transform-origin:0;transform-origin:0}.mfp-arrow-right{-webkit-transform-origin:100%;transform-origin:100%}.mfp-container{padding-left:6px;padding-right:6px}}.mfp-ie7 .mfp-img{padding:0}.mfp-ie7 .mfp-bottom-bar{width:600px;left:50%;margin-left:-300px;margin-top:5px;padding-bottom:5px}.mfp-ie7 .mfp-container{padding:0}.mfp-ie7 .mfp-content{padding-top:44px}.mfp-ie7 .mfp-close{top:0;right:0;padding-top:0}.image-source-link{color:#98C3D1}.mfp-with-zoom .mfp-container,.mfp-with-zoom.mfp-bg{opacity:0;-webkit-backface-visibility:hidden;-webkit-transition:all .3s ease-out;-moz-transition:all .3s ease-out;-o-transition:all .3s ease-out;transition:all .3s ease-out}.mfp-with-zoom.mfp-ready .mfp-container{opacity:1}.mfp-with-zoom.mfp-ready.mfp-bg{opacity:.8}.mfp-with-zoom.mfp-removing .mfp-container,.mfp-with-zoom.mfp-removing.mfp-bg{opacity:0}
/* end Magnific Popup CSS */

/* general popup */
.white-popup-block{max-width:900px; margin: 20px auto; color:#333; background:#fefefe; padding:40px;}
.gray-popup-block{max-width:900px; margin: 0 auto; background:#22252f; padding:40px; text-align:center;}
.gray-popup-block h3{ font-size:34pt; font-weight:300; line-height:normal; letter-spacing:normal;}
.gray-popup-block p{ font-size:11pt; font-weight:300; line-height:normal; letter-spacing:normal;}

/* scroll onStep */
.onStep {
  opacity: 0;
}
@media only screen and (max-device-width: 480px) {
p{ font-size:30px; line-height: 31px;}
#home{ color:#fff;}
#home h1{ font-size:56pt; letter-spacing:1px;}
#home h3{ font-size:46pt; letter-spacing:1px;}
.overlay-main{
  position:absolute;
  width: 100%;
  height:100%;
  top:0px;
  left:0px;
}

nav a {
    display: block;
    padding: 10px;
    color: #efefef;
    font-size: 44pt;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 11px;
    /* line-height: 62px; */
    text-decoration: none;
    margin-top: 34px;
}

.btn-home {
    display: inline-block;
    width: 498px;
    height: 80px;
    font-size: 25pt;
    font-weight: 600;
    letter-spacing: 2pt;
    font-style: normal;
    text-align: center;
    color: #fff;
    border: 1px solid #fff;
    background: rgba(23,36,52,0);
    outline: none;
    text-shadow: none;
    margin: 5px auto;
    margin-left: 0px;
    padding: 0;
    cursor: pointer;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
    padding-top: 18px;
}
.onStep {
    opacity: 0;
    font-size: 23px;
}
.service h4 {
    font-size: 21pt;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
}
#filters li.filt-serv {
    font-size: 23pt;
    font-weight: 300;
    color: #172434;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    list-style: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    line-height: 51px;
}
.panel-group .panel+.panel {
    margin-top: 15px;
}
input[type="text"] {
    text-align: left;
    width: 220px;
    height: 50px;
    margin: 5px 0px 5px 0px;
    border: 0px;
    font-size: 19pt;
    font-weight: 300;
    letter-spacing: 0px;
    color: #333;
    background: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0,0,0,0.3);
    padding: 10px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -moz-transition: none;
    -webkit-transition: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.2s ease;
}
textarea {
    text-align: left;
    outline: none;
    width: 670px;
    height: 100px;
    margin: 5px 0px 5px 0px;
    font-size: 20pt;
    border: 0px;
    font-weight: 300;
    letter-spacing: 0px;
    color: #333;
    background: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0,0,0,0.3);
    padding: 10px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -moz-transition: none;
    -webkit-transition: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.2s ease;
}
}
