@media only screen and (max-width: 1400px) {

}


@media only screen and (max-width: 1024px) {
.navbar-toggle {
display:block;
position:fixed;
right:7px;
top:5px;
z-index:9999;
}
.navbar-toggle:hover{ 
border:1px solid #999;
}

/*menu block*/
.navbar-default{ position:fixed;  margin: 0;   border-bottom:1px groove rgba(255,255,255,0);}
.sticky-nav{ position:fixed; height:60px; top:0px; left:0px;}
.navbar-brand { margin:0; }
.navbar-brand img{ width:90%;}
#main-menu {
  position:absolute;
  left:0px;
  width: 100%;
  height:100%;
  background:#172434;
  z-index: 1;
  text-align:center;
  overflow:auto;
  overflow-x: hidden;
  padding-top:60px
}

.menu-init {
  opacity: 1;
  top:-100%;
    -webkit-transition: top 1s  cubic-bezier(.165, 0.840, 0.440, 1.000), opacity 0.4s linear;
  -moz-transition: top 1s  cubic-bezier(.165, 0.840, 0.440, 1.000), opacity 0.4s linear;
  -o-transition: top 1s  cubic-bezier(.165, 0.840, 0.440, 1.000), opacity 0.4s linear;
  transition: top 1s  cubic-bezier(.165, 0.840, 0.440, 1.000), opacity 0.4s linear;
}

.menu-show {
  opacity: 1;
  top:0px;
  -webkit-transition: top 1s  cubic-bezier(.165, 0.840, 0.440, 1.000), opacity 0.4s linear;
  -moz-transition: top 1s  cubic-bezier(.165, 0.840, 0.440, 1.000), opacity 0.4s linear;
  -o-transition: top 1s  cubic-bezier(.165, 0.840, 0.440, 1.000), opacity 0.4s linear;
  transition: top 1s  cubic-bezier(.165, 0.840, 0.440, 1.000), opacity 0.4s linear;
}

nav {
	margin:0 auto;
	margin-bottom:20px;
	position:relative;
	left:20px;
	top:60px;
	z-index:999;
}

nav ul li {
	display:block;
	margin-right:15px;
	text-align:left;
	}
	nav a {
	display:block;
	padding:10px;
	line-height: 30px;
}
nav ul ul {
	position:relative;
	top: 0px;
	margin-left:15px;
}
nav ul ul li {
	background:rgba(21,23,29,0);
}
nav ul ul ul li {
	position: relative;
	top:0px; 
	left:0px;
}
nav ul ul li a{ line-height:20px; font-weight:300; font-size:11pt;}
/*menu block end*/
}

@media only screen and (max-width: 980px) {

.yellow-home{ display:none;}
}

@media only screen and (max-width: 800px) {

}

@media only screen and (max-width: 768px) {
	
}

@media only screen and (max-width: 600px) {
.navbar-brand {left:15px;}
}


@media(max-width:414px) {
.navbar-default{  border-bottom:1px groove rgba(255,255,255,0);}
.navbar-brand {left:5px;}
h1{ font-size:24pt; }
h2{ font-size:20pt; }
h3{ font-size:18pt; }
h4{ font-size:16pt; }
h5{ font-size:14pt; }
h6{ font-size:12pt; }
p{ font-size:12px;}


#service-about{ width:100%; max-width:1200px; margin:0 auto; text-align:center;}
.service-about {margin:0;}

.social-icons{ margin-top:10px;}
.right{ text-align:left; float:left; }
#subscribe input#subscribeemail {
margin: 0 0 0 0 ;
width:250px;
}
.subscribesuccess {
width: 250px;
}

#subscribe .subscribeerror {
width: 250px;
}
}

@media(max-width:360px) {
.service-about {width:300px; margin:0 auto;}	
}

@media(max-width:320px) {
.service-about {width:280px;}	
}

