
@import url('https://fonts.googleapis.com/css?family=Raleway|Ubuntu');

body{
        background: url(../img/body-bg.png);
}

.divcenter {
    width:800px;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
}

.boxposts li { 
    width: 758px;
    height: auto;
    padding: 20px;
    border: 1px solid #eee;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    border-bottom: 8px solid #eee;
    margin: 15px 0px;
}
.thumb {
    width: 166px;
    height: 166px;
    float: left;
    border: 4px solid #eee;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-right: 25px;
}   

/* PAGINA DE POSTS */
#pgPost .thumb{
    width: 100%;
    height: 100%;
    margin: 0 auto 20px;
    float:none;
    display:table;
    
}
#pgPost .thumb img {
    width:100%;
    height:100%;
}
#pgPost .content {
    float:none;
    width:100%;
}

/* FIM PAGINA DE POSTS */
.content {
    float: left;
    width: 550px;
}
.content h1 {
    font-size: 20px;
    font-weight: bold;
    color:#666;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.content p, .boxposts li {
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    color:#999;
    line-height: 20px;
    padding-bottom:5px
}
.footer_post{
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-top:14px;
    margin-top:8px;
    border-top:1px dotted #eee;
}
.footer_post2{
    width: 70%;
    height: auto;
    overflow: hidden;
    padding-top:14px;
    margin-top:8px;
    border-top:1px dotted #eee;
    text-decoration:none;
}

.footer_post a{
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    color:#666;
    line-height: 20px;
    font-weight: bold;
    text-decoration: none;
    float: left;
}
.footer_post2 a{
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    color:#666;
    line-height: 20px;
    font-weight: bold;
    text-decoration: none;
    float: left;
}
.footer_post a:hover{
    text-decoration: underline;
}
.datapost {
        font-family: 'Raleway', sans-serif;
    font-size: 13px;
    color:#666;
    line-height: 20px;
    text-decoration: none;
    float: right;
}
.datapost strong{
    color:#666;
    font-weight: bold;
}